{
	order cache before rewrite
	cache
}

cdn.localhost, :80 {
	cache {
		regex {
			exclude "/api/.*"
			exclude "/ws.*"
		}
	}

	handle /api/* {
		reverse_proxy api:8080 api-2:8080
	}
	handle /ws {
		reverse_proxy gateway:4000 gateway-2:4000
	}
	handle /attachments/* {
		reverse_proxy api:8080 api-2:8080
	}
	handle /avatars/* {
		reverse_proxy minio:9000 {
			header_down Cache-Control "public, max-age=3600"
		}
	}
	handle {
		reverse_proxy client:5173
	}
}
